html,
body {
  min-height: 100% !important;
  height: 100%;
  position: relative;
}

body {
  font-family: 'Source Sans Pro',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: cornsilk;
  margin-bottom: 60px;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
